#root {
    padding: 0;
}

.navbar {
    background-color: #fff;
    box-shadow: 5px 5px 5px #272829 ;
}

.homepage {
    padding: 0;
    background-color: #FFF4F4;
}

.techpage {
    /* height: 80vh; */
    padding: 0;
    padding-top: 2rem;
    margin-top: 4rem;
    background-color: #FFF4F4;
    padding-bottom: 4rem;
}

.homepage-holder {
   max-width: 80rem;
   padding-top: 15%;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap:10rem;
    margin-top:5rem;
    justify-content: center;
    align-content: center;
}

.certificate-badges {
    margin-top: 1rem;
}

.tech-stack .tech {
    display:flex;
    border-width: 1px;
    border-style:solid;
    width:8rem;
    border-radius: 30%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 5px 5px 5px #810CA8;
}

.photo > img {
    /* animation: animate 8s ease-in-out infinite; */
    /* background-image: url("/dheeraj.png"); */
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    /* position: relative; */
    /* transition: all 1s ease-in-out; */
}

.aboutme {
  margin-top: 2rem;
  font-family: "'Mulish', sans-serif"
}


.aboutme-holder {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap:3rem
}

.aboutme-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 2rem;
}

.aboutme-card {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap:2rem;
}

.experience, .education {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1rem solid black;
  padding: 2rem;
  min-width: 20rem;
  min-height: 10rem;
  border-radius: 2rem;
  background-color: #21209C;
  color:#F1F1F1;
  box-shadow: 5px 5px 5px black ;
}

.aboutme-intro {
  max-width: 60rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.aboutme-intro p {
  margin-left: 5rem;
}

.projects, .projects-holder {
  margin-top: 4rem;
}

.projects-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 80%;
}


.projects-left .projects-details{
  border: 0.1rem solid black;
  padding:1rem;
  border-radius: 2rem;
}

.projects-left .projects-view{
  border: 0.1rem solid black;
  padding:1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap:1rem;
}

.projects-right .projects-details{
  border: 0.1rem solid black;
  padding:1rem;
  border-radius: 2rem;
}

.projects-right .projects-view{
  border: 0.1rem solid black;
  padding:1rem;
  border-radius: 2rem;
  flex-direction: column;
  gap:1rem;
}

.projects-right .projects-view button, .projects-left .projects-view button{
  min-width: 8rem;
}

.projects-left img{
  width:60%;
  margin: 1rem 0 1rem 0;
}

.projects-right img{
  width:60%;
  margin: 1rem 0 1rem 0;
}

.projects-left .projects-details .info, .projects-right .projects-details .info{
  text-align:justify;
}

.projects-left .projects-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex: 9;
  border: 0.1rem solid black;
  padding:1rem;
}

.projects-left .projects-view{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex: 1;
  border: 0.1rem solid black;
  padding:1rem;
}


.projects-right .projects-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex: 9;
  order:1;
  border: 0.1rem solid black;
  padding:1rem;
}

.projects-right .projects-view{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex: 1;
  border: 0.1rem solid black;
  padding:1rem;
}

.contacts, .contactpage-holder{
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: black;
  color: white;
}

.contactpage-holder{
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.contactpage-holder .location{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 10rem;
}

.achievementpage-holder, .achievements{
  margin-top: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  background-color: #FFF4F4;

}

.achievementpage-holder{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.achievementpage-image img{
  width:60%;
}

.achievementpage-image{
  text-align: center;
}

*:focus {
    outline: none !important;
  }
  
  html {
    scroll-behavior: smooth;
  }

  @media screen and (min-width:1500px) {
    .aboutme{
      height: 70vh;
      margin-top: 10%;
    }
  }
  
  @media screen and (min-width: 800px) {
    
    .homepage{
        height: 100vh;
    }

    .nav-button {
      background-color: white;
      border-radius: 2rem;
      height: 2rem;
      width: 6.8rem;
      border: 0.1rem solid blue;
      font-family: 'Noto Sans', sans-serif;
      color: #596e79;
      font-weight: bold;
      padding:0px 20px 0px 20px;
    }
  
    .nav-button:focus {
      outline: none;
    }
  
    .nav-button:hover {
      background-color: #6a2c70;
      color: white;
      border-color: #6a2c70;
    }
  
    .hover-button {
      width: 60%;
      height: 40px;
      margin: 10px auto;
      justify-content: center;
      display: block;
      color: #fff;
      background: #e79c2a;
      font-size: 1em;
      font-weight: bold;
      margin-top: 20px;
      outline: none;
      border: none;
      border-radius: 5px;
      transition: .2s ease-in;
      cursor: pointer;
    }
  
    .hover-button:hover {
      background: #6d44b8;
    }

    .homepage-container{
        display: flex;
        gap:5rem;
        /* grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr; */
    }

    .intro{
        flex:7;   
    }

    .photo{
        flex:3
    }

    .projects-left{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      gap:2rem;
    }

    .projects-right{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      gap:2rem;
    }

    .achievementpage-card-1{
      display: flex;
      flex: wrap;
      justify-content: center;
      align-content: center;
      text-align: justify;
    }
    
    .achievementpage-card{
      display: flex;
      flex: wrap;
      justify-content: center;
      align-content: center;
      text-align: justify;
    }

  }
  
  @media screen and (max-width: 800px) {

    .homepage{
        height: 125vh;
    }

    .nav-button {
      background-color: white;
      border-radius: 2rem;
      height: 3rem;
      max-width: 20rem;
      font-size: 1.4rem;
      border: 0.1rem solid blue;
      font-family: 'Noto Sans', sans-serif;
      color: #596e79;
      font-weight: bold;
      padding:0px 20px 0px 20px;
    }
  
    .nav-button:focus {
      outline: none;
    }
  
    .nav-button:hover {
      background-color: #6a2c70;
      color: white;
      border-color: #6a2c70;
    }
  
    .hover-button {
      width: 65%;
      height: 50px;
      margin: 10px auto;
      justify-content: center;
      display: block;
      color: #fff;
      background: #e79c2a;
      font-size: 1.4em;
      font-weight: bold;
      margin-top: 20px;
      outline: none;
      border: none;
      border-radius: 5px;
      transition: .2s ease-in;
      cursor: pointer;
    }
  
    .hover-button:hover {
      background: #6d44b8;
    }

    .homepage-container{
        display: flex;
        flex-wrap: wrap;
    }

    .intro{
        order:1;
    }

    .intro div{
      text-align: center;
    }

    .projects-right .projects-view{
      margin-top: 1.5rem;
      display: flex;
      flex-direction: row;
      gap:1rem;
    }

    .projects-left .projects-view{
      margin-top: 1.5rem;
      display: flex;
      flex-direction: row;
      gap:1rem;
    }

    .achievementpage-card-1{
      display: flex;
      flex: wrap;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: justify;
    }
    
    .achievementpage-card{
      display: flex;
      flex: wrap;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: justify;
    }

    .achievementpage-image{
      margin-bottom: 1rem;
    }    

    .tech-stack .tech {
      width:5.5rem;
    }

    .tech-stack {
      gap:2rem;
    }

  }

.intro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.photo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.projects-details img{
  width: 100%;
  object-fit: contain;
}

.info{
  font-family: 'Mulish', sans-serif;
  font-size: 1.2rem;
}
